.education-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  position: relative;
  padding: 50px 0px;

}

.education-container .box {
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.element-new{
  width: 100%;
}